html, body {
    height: 100%;
    margin: 5px;
    padding: 0px;
}

#map-canvas {
	height: 100%;
}

html, body, p, div, button {
    font-family:  "proxima-nova-1","proxima-nova-2", "Helvetica Neue", Helvetica, verdana, sans-serif;
}

h1 {
	color: #78be20;
	font-size: 275%;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	border: 0px;
	padding: 0px;
}

td {
	vertical-align: top;
}

div {
	padding-top: 5px;
}

#last-mac {
	color: #606060;
}

.small {
	font-size: 80%;
}

button {
	font-size: 100%;
	font-style: bold;
}

body {
    background-color: #ffffff;
}